h1 {
  font-family: cursive,"Cursive";
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #37cb9f;
}

p {
  font-size: 37px;
  line-height: 45px;
  font-family: cursive;
  font-weight: bolder;
  color: #c125da
}

p {
  font-size: 37px;
  line-height: 45px;
  font-family: cursive;
  font-weight: bolder;
  color: c125da
}

h2 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #fd5602
}

h3 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #ca44c0
}

h4 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #e8bd17
}

h5 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #550da4
}

h6 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color:
}

h7 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #f5b94a
}
h8 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #f51c7a
}

h9 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #c800ec
}

h10 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #fabb4d
}

h11 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #ef1410
}

h12 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #f87407
}

h13 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #05ff00
}

h14 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #f5292b
}

h15 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #18f74a
}

h16 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #d923f4
}

h17 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #ff5cd6
}

h18 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #f2c000
}

h19 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #ffee39
}

h20 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #e566b4
}

h21 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #ca7400
}

h22 {
  font-family: cursive; "Cursive";
  font-size: 37px
  line-height: 45px;
  font-weight: bolder;
  color: #ff8fd2
}
